{% extends 'posts/base.html' %}

{% load widget_tweaks %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
<div style="padding: 32px; padding-top: 16px;">
    <div class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">
            {{ post.created_date|date:'F d, y' }} by
            {{ post.authors.all|join:"," }}
            in {{ post.section }}
        </p>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <p>Tags: {{ post.tags.all|join:", " }}</p>
    {% if comments.empty %}
        <div>There is no comments. You can be the first!</div>
    {% else %}
        <h4>Comments:</h4>
        {% for comment in comments %}
            <div>
                <em>{{ comment.author_name }}</em>
                <p class="post-comment-text">{{ comment.text }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <h4>Leave comment</h4>
        <form method="POST" class="post-form">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            {% for field in form.visible_fields %}
            <div class="form-group" style="width: max-content;">
                {{ field.label_tag }}
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %} <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Save</button>
        </form>
    </div>
</div>
{% endblock %}