{% extends 'posts/base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/css/posts.css' %}">
<div style="padding: 32px; padding-top: 16px;">
    <div class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        {% include 'posts/post_meta.html' %}
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <p>
        <em>
            Tags: {% for tag in post.tags.all %}
                <a href="{% url 'posts:search_posts' %}?tag={{ tag.name }}">{{ tag.name }}{% if not forloop.last %}, {% endif %}</a>
            {% endfor %}
        </em>
    </p>
    {% if comments %}
        <h4><em>Comments:</em></h4>
        {% for comment in comments %}
            <div>
                <em>{{ comment.author_name }}</em>
                <p class="post-comment-text">{{ comment.text }}</p>
            </div>
        {% endfor %}
    {% else %}
        <h4><em>There is no comments. You can be the first!</em></h4>
    {% endif %}
    <div>
        <form method="POST" class="post-form" style="padding-top: 16px;">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %} <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Save</button>
        </form>
    </div>
</div>
{% endblock %}