{% extends 'posts/base.html' %}

{% block content %}
    {% for post in posts %}
        <div>
            <div>
                {% for author in post.authors.all %}
                    <embed>{{ author }}, </embed>
                {% endfor %}
                <em>{{ post.created_date }}</em>
            </div>
            <embed>{{ post.section }}</embed>
            <h3><a href="{% url 'posts:post_details' pk=post.pk %}">{{ post.title }}</a></h3>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}

